# BRFSS Conversion and Cleaning

In [2]:
import pandas as pd
df = pd.read_sas(r"C:\Users\bruce\OneDrive\Desktop\project_part_ii\data_lake\raw\LLCP2024.XPT")

In [4]:
df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,b'02282024',b'02',b'28',b'2024',1100.0,b'2024000001',2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000002',2.024000e+09,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000003',2.024000e+09,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,2.0,b'02282024',b'02',b'28',b'2024',1100.0,b'2024000004',2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000005',2.024000e+09,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,78.0,7.0,b'07122024',b'07',b'12',b'2024',1200.0,b'2024001344',2.024001e+09,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,78.0,7.0,b'07182024',b'07',b'18',b'2024',1100.0,b'2024001345',2.024001e+09,NaN,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,78.0,7.0,b'07172024',b'07',b'17',b'2024',1100.0,b'2024001346',2.024001e+09,NaN,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,78.0,7.0,b'07202024',b'07',b'20',b'2024',1200.0,b'2024001347',2.024001e+09,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,78.0,7.0,b'07182024',b'07',b'18',b'2024',1100.0,b'2024001348',2.024001e+09,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [7]:
df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

C:\Users\bruce\AppData\Local\Temp\ipykernel_11096\1659967169.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.decode('utf-8') if isinstance(x, bytes) else x)

In [13]:
df.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_LCSCTSN', '_LCSPSTF', 'DRNKANY6', 'DROCDY4_', '_RFBING6', '_DRNKWK3',
       '_RFDRHV9', '_FLSHOT7', '_PNEUMO3', '_AIDTST4'],
      dtype='object', length=301)

In [20]:
df['_BMI5'] = df['_BMI5'] / 100

0         22.49
1         25.83
2         22.53
3         25.09
4         19.77
          ...
457665      NaN
457666    20.66
457667    24.37
457668    24.41
457669    26.47
Name: _BMI5, Length: 457670, dtype: float64